.room-create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 2.5em;
}

.room-input-box {
  width: 100%;
  height: 2.5em;

  margin-bottom: 2.5em;

  /* border: 1.5px solid #afd700; */
  border-width: 1px 1px 0 1px;
  border-color: #afd700;
  border-radius: 4px;

  color: #808080;
  background-color: #121212;
  
  text-indent: 10px;
  box-shadow: 0 0.2em 0 #97B903;
}

button {
  width: 40%;
  height: 2.5em;
  border: 1px solid #afd700;
  border-radius: 4px;
  background-color: #afd700;

  padding: 0.3em;
}
