<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" width="device-width, inital-scale=1">
	<title>Root</title>
	<script src="/script/index/redirect.js"></script>
</head>
<body>
	<div id="container">
		<h2>What is your username?</h2>

		<div id="username-inputbox-container">
			<input id="public-username" type="text" placeholder="type your username">
			<button id="username-save-btn">
				save username
			</button>
		</div>
	</div>

	<script src="/script/index/storageManager.js"></script>
</body>
</html>
